.ant-table-wrapper .ant-table {
  scrollbar-color: unset;
}

.ant-collapse > .ant-collapse-item > .ant-collapse-header {
  align-items: center;
}

.ant-select-dropdown .ant-select-item-option-content {
  white-space: pre-wrap;
}
